# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Major Project/Assets/Tileset/9.png
Major Project/Assets/Tileset/8.png
Major Project/Assets/Tileset/7.png
Major Project/Assets/Tileset/6.png
Major Project/Assets/Tileset/55.png
Major Project/Assets/Tileset/54.png
Major Project/Assets/Tileset/53.png
Major Project/Assets/Tileset/52.png
Major Project/Assets/Tileset/51.png
Major Project/Assets/Tileset/50.png
Major Project/Assets/Tileset/5.png
Major Project/Assets/Tileset/49.png
Major Project/Assets/Tileset/48.png
Major Project/Assets/Tileset/47.png
Major Project/Assets/Tileset/46.png
Major Project/Assets/Tileset/45.png
Major Project/Assets/Tileset/44.png
Major Project/Assets/Tileset/43.png
Major Project/Assets/Tileset/42.png
Major Project/Assets/Tileset/41.png
Major Project/Assets/Tileset/40.png
Major Project/Assets/Tileset/4.png
Major Project/Assets/Tileset/39.png
Major Project/Assets/Tileset/38.png
Major Project/Assets/Tileset/37.png
Major Project/Assets/Tileset/36.png
Major Project/Assets/Tileset/35.png
Major Project/Assets/Tileset/34.png
Major Project/Assets/Tileset/33.png
Major Project/Assets/Tileset/32.png
Major Project/Assets/Tileset/31.png
Major Project/Assets/Tileset/30.png
Major Project/Assets/Tileset/3.png
Major Project/Assets/Tileset/29.png
Major Project/Assets/Tileset/28.png
Major Project/Assets/Tileset/27.png
Major Project/Assets/Tileset/26.png
Major Project/Assets/Tileset/25.png
Major Project/Assets/Tileset/24.png
Major Project/Assets/Tileset/23.png
Major Project/Assets/Tileset/22.png
Major Project/Assets/Tileset/21.png
Major Project/Assets/Tileset/20.png
Major Project/Assets/Tileset/2.png
Major Project/Assets/Tileset/19.png
Major Project/Assets/Tileset/18.png
Major Project/Assets/Tileset/17.png
Major Project/Assets/Tileset/16.png
Major Project/Assets/Tileset/15.png
Major Project/Assets/Tileset/14.png
Major Project/Assets/Tileset/13.png
Major Project/Assets/Tileset/12.png
Major Project/Assets/Tileset/11.png
Major Project/Assets/Tileset/10.png
Major Project/Assets/Tileset/1.png
Major Project/Assets/Stock/PSD/9T.psd
Major Project/Assets/Stock/PSD/8T.psd
Major Project/Assets/Stock/PSD/7T.psd
Major Project/Assets/Stock/PSD/6T.psd
Major Project/Assets/Stock/PSD/5T.psd
Major Project/Assets/Stock/PSD/55T.psd
Major Project/Assets/Stock/PSD/55.png
Major Project/Assets/Stock/PSD/54T.psd
Major Project/Assets/Stock/PSD/54.png
Major Project/Assets/Stock/PSD/53T.psd
Major Project/Assets/Stock/PSD/53.png
Major Project/Assets/Stock/PSD/52T.psd
Major Project/Assets/Stock/PSD/52.png
Major Project/Assets/Stock/PSD/51T.psd
Major Project/Assets/Stock/PSD/51.png
Major Project/Assets/Stock/PSD/50T.psd
Major Project/Assets/Stock/PSD/50.png
Major Project/Assets/Stock/PSD/4T.psd
Major Project/Assets/Stock/PSD/49T.psd
Major Project/Assets/Stock/PSD/49.png
Major Project/Assets/Stock/PSD/48T.psd
Major Project/Assets/Stock/PSD/48.png
Major Project/Assets/Stock/PSD/47T.psd
Major Project/Assets/Stock/PSD/47.png
Major Project/Assets/Stock/PSD/46T.psd
Major Project/Assets/Stock/PSD/46.png
Major Project/Assets/Stock/PSD/45T.psd
Major Project/Assets/Stock/PSD/45.png
Major Project/Assets/Stock/PSD/44T.psd
Major Project/Assets/Stock/PSD/44.png
Major Project/Assets/Stock/PSD/43T.psd
Major Project/Assets/Stock/PSD/43.png
Major Project/Assets/Stock/PSD/42T.psd
Major Project/Assets/Stock/PSD/42.png
Major Project/Assets/Stock/PSD/41T.psd
Major Project/Assets/Stock/PSD/41.png
Major Project/Assets/Stock/PSD/40T.psd
Major Project/Assets/Stock/PSD/40.png
Major Project/Assets/Stock/PSD/3T.psd
Major Project/Assets/Stock/PSD/39T.psd
Major Project/Assets/Stock/PSD/39.png
Major Project/Assets/Stock/PSD/38T.psd
Major Project/Assets/Stock/PSD/38.png
Major Project/Assets/Stock/PSD/37T.psd
Major Project/Assets/Stock/PSD/37.png
Major Project/Assets/Stock/PSD/36T.psd
Major Project/Assets/Stock/PSD/36.png
Major Project/Assets/Stock/PSD/35T.psd
Major Project/Assets/Stock/PSD/35.png
Major Project/Assets/Stock/PSD/34T.psd
Major Project/Assets/Stock/PSD/34.png
Major Project/Assets/Stock/PSD/33T.psd
Major Project/Assets/Stock/PSD/33.png
Major Project/Assets/Stock/PSD/32T.psd
Major Project/Assets/Stock/PSD/32.png
Major Project/Assets/Stock/PSD/31T.psd
Major Project/Assets/Stock/PSD/31.png
Major Project/Assets/Stock/PSD/30T.psd
Major Project/Assets/Stock/PSD/30.png
Major Project/Assets/Stock/PSD/2T.psd
Major Project/Assets/Stock/PSD/29T.psd
Major Project/Assets/Stock/PSD/29.png
Major Project/Assets/Stock/PSD/28T.psd
Major Project/Assets/Stock/PSD/28.png
Major Project/Assets/Stock/PSD/27T.psd
Major Project/Assets/Stock/PSD/27.png
Major Project/Assets/Stock/PSD/26T.psd
Major Project/Assets/Stock/PSD/26.png
Major Project/Assets/Stock/PSD/25T.psd
Major Project/Assets/Stock/PSD/25.png
Major Project/Assets/Stock/PSD/24T.psd
Major Project/Assets/Stock/PSD/24.png
Major Project/Assets/Stock/PSD/23T.psd
Major Project/Assets/Stock/PSD/23.png
Major Project/Assets/Stock/PSD/22T.psd
Major Project/Assets/Stock/PSD/22.png
Major Project/Assets/Stock/PSD/21T.psd
Major Project/Assets/Stock/PSD/20T.psd
Major Project/Assets/Stock/PSD/1T.psd
Major Project/Assets/Stock/PSD/19T.psd
Major Project/Assets/Stock/PSD/18T.psd
Major Project/Assets/Stock/PSD/17T.psd
Major Project/Assets/Stock/PSD/16T.psd
Major Project/Assets/Stock/PSD/15T.psd
Major Project/Assets/Stock/PSD/14T.psd
Major Project/Assets/Stock/PSD/13T.psd
Major Project/Assets/Stock/PSD/12T.psd
Major Project/Assets/Stock/PSD/11T.psd
Major Project/Assets/Stock/PSD/10T.psd
Major Project/Assets/Stock/mininicular.png
